<div class="categories-modal d-none">
    <div class="categories-modal__inner">
        <div class="categories-modal__header">
            <h2 data-category-modal-item="all" style="cursor: pointer">
                <img src="/images/categories-icons/lupa.svg" alt="lupa icon">
                <span><%= data.header.allCat%></span>
            </h2>
            <img id="categories-modal-close" src="/images/categories-icons/times.svg" alt="times icon">
        </div>
        <div class="categories-modal__main">
            <ul class="categories-modal__ul">
                <% for (let i = 0; i < Math.floor(categories.length / 2); i++) { %>
                    <li class="categories-modal__li" data-category-modal-item="<%= categories[i].category_id %>">
                        <img src="/images/categories-icons/<%= categories[i].icon_thumb %>" alt="icon">
                        <span><%= lang === "ru" ? categories[i].ru_name[0].toUpperCase() + categories[i].ru_name.substring(1) : categories[i].uz_name[0].toUpperCase() + categories[i].uz_name.substring(1) %></span>
                    </li>
                <% } %>
            </ul>
            <ul class="categories-modal__ul">
                <% for (let i = Math.floor(categories.length / 2); i < categories.length; i++) { %>
                    <li class="categories-modal__li" data-category-modal-item="<%= categories[i].category_id %>">
                        <img src="/images/categories-icons/<%= categories[i].icon_thumb %>" alt="icon">
                        <span><%= lang === "ru" ? categories[i].ru_name[0].toUpperCase() + categories[i].ru_name.substring(1) : categories[i].uz_name[0].toUpperCase() + categories[i].uz_name.substring(1) %></span>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>