<% var path, user, categories %>
<%
var products
const capitalize = text => {
    return text[0].toUpperCase() + text.substring(1)
}
const titleNormalize = title => {
    if (title.length <= 50) {
        return title
    }
    return title.substring(0, 50) + '...'
}
%>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/splide.min.css">
    <link rel="stylesheet" href="/css/range-slider.css">
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css'>
    <link rel="stylesheet" href="/css/index.css">
    <title><%= title %></title>
</head>
<body>
<!--<div class="loader">-->
<!--    <div class="loader__inner">-->
<!--        <svg class="circular" viewBox="25 25 50 50">-->
<!--            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="1" stroke-miterlimit="10"/>-->
<!--        </svg>-->
<!--        <svg width="100" height="77" viewBox="0 0 143 110" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <g opacity="0.5">-->
<!--                <g opacity="0.5">-->
<!--                    <path opacity="0.5"-->
<!--                          d="M115.329 13.2601C115.142 13.2601 114.959 13.2652 114.777 13.2704C116.996 13.3477 119.096 13.7856 120.982 14.543C119.273 13.7238 117.356 13.2601 115.329 13.2601Z"-->
<!--                          fill="#EA9400"/>-->
<!--                </g>-->
<!--            </g>-->
<!--            <g opacity="0.5">-->
<!--                <g opacity="0.5">-->
<!--                    <path opacity="0.5"-->
<!--                          d="M125.177 34.2784C124.692 34.809 124.176 35.3191 123.634 35.7983C124.192 35.3397 124.708 34.8297 125.177 34.2784Z"-->
<!--                          fill="#EA9400"/>-->
<!--                </g>-->
<!--            </g>-->
<!--            <path d="M92.8906 42.9039C93.339 41.5179 93.8448 40.1629 94.4131 38.8492C93.7926 40.2093 93.2608 41.5901 92.8906 42.9039Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M99.963 29.215C99.963 29.215 99.9572 29.2269 99.9395 29.2505C99.9454 29.2387 99.9571 29.2268 99.963 29.215Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M84.2164 1.55148C77.6625 6.30687 81.5333 15.3488 81.5333 15.3488C36.1143 -21.2878 4.73571 15.7301 13.3162 43.8347C13.5298 44.5457 13.7122 45.2103 13.8372 45.8337C14.0456 46.5808 14.1602 47.3691 14.1602 48.1831C14.1602 53.0158 10.1956 56.9365 5.30878 56.9365C3.31864 56.9365 1.47958 56.2873 0 55.1899C1.74007 64.3864 14.9625 66.2979 19.2346 58.7552C22.6522 65.0201 28.0704 66.2979 28.0704 66.2979C31.5922 61.9907 29.4458 54.0565 29.4458 54.0565C38.7974 56.4316 48.2115 48.0646 41.6732 34.5197C41.6732 34.5197 41.595 45.6277 29.5917 44.3036C10.8364 42.2427 16.7182 7.88341 45.0804 7.88341C65.1329 7.88341 76.8237 21.4849 84.6227 29.2028C84.6227 29.2028 86.8838 25.8024 90.0149 23.1285C89.843 22.8348 89.6815 22.5463 89.5356 22.2578C89.5252 22.232 89.5095 22.2114 89.4991 22.1908C84.1539 11.8196 91.2236 3.90084 100.997 8.3471C96.8085 0.248005 88.8635 -1.82314 84.2164 1.55148Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M19.5107 90.9288C20.6621 92.4074 22.1729 93.5151 23.9286 94.2416C22.2198 93.4739 20.709 92.3353 19.5107 90.9288Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <g opacity="0.5">-->
<!--                <g opacity="0.5">-->
<!--                    <path opacity="0.5"-->
<!--                          d="M23.9289 94.2422C25.5179 94.9532 27.2788 95.3551 29.1335 95.3551C29.7274 95.3551 30.3109 95.3139 30.884 95.2366C28.3416 95.4221 25.966 95.0872 23.9289 94.2422Z"-->
<!--                          fill="#EA9400"/>-->
<!--                </g>-->
<!--            </g>-->
<!--            <path d="M38.4379 84.2715C38.4482 84.2612 38.4637 84.2509 38.4792 84.2354C38.4637 84.2509 38.4534 84.2612 38.4379 84.2715Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.6877 84.9082C37.6998 84.9022 37.7118 84.8901 37.7178 84.8841C37.7118 84.8901 37.6998 84.8961 37.6877 84.9082Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.422 85.1139C37.4428 85.0982 37.4585 85.0826 37.4794 85.0669C37.4585 85.0826 37.4376 85.0982 37.422 85.1139Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.709 83.0839C39.7554 83.0374 39.8018 82.991 39.8431 82.9446C39.7967 82.991 39.7554 83.0374 39.709 83.0839Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M38.9068 83.858C38.944 83.8208 38.9866 83.7835 39.0238 83.7463C38.9866 83.7835 38.9493 83.8208 38.9068 83.858Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.9799 82.8067C40.0265 82.76 40.0732 82.7082 40.1198 82.6616C40.0732 82.7134 40.0265 82.76 39.9799 82.8067Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.1724 83.6048C39.214 83.5632 39.2556 83.5216 39.2972 83.48C39.2556 83.5268 39.214 83.5684 39.1724 83.6048Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M35.8557 86.1988C35.8675 86.1929 35.8793 86.187 35.8912 86.1811C35.8793 86.187 35.8675 86.1929 35.8557 86.1988Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.1039 86.0392C36.1193 86.029 36.1347 86.0187 36.1501 86.0084C36.1347 86.0187 36.1193 86.029 36.1039 86.0392Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.6248 85.6932C36.6452 85.6779 36.6656 85.6626 36.686 85.6524C36.6656 85.6626 36.6452 85.6779 36.6248 85.6932Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.3641 85.8717C36.3797 85.8613 36.4006 85.8456 36.4215 85.8352C36.4006 85.8456 36.3797 85.8561 36.3641 85.8717Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.8852 85.5055C36.9056 85.4901 36.9261 85.4748 36.9465 85.4595C36.9312 85.4748 36.9107 85.4901 36.8852 85.5055Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.1509 85.3121C37.1713 85.2968 37.1917 85.2815 37.2121 85.2662C37.1968 85.2815 37.1764 85.2968 37.1509 85.3121Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M38.6514 84.08C38.6861 84.0502 38.7159 84.0254 38.7457 83.9956C38.7159 84.0254 38.6861 84.0502 38.6514 84.08Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.5723 83.2138C39.531 83.2551 39.4846 83.3015 39.4382 83.3428C39.4846 83.3015 39.5259 83.2603 39.5723 83.2138Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.7822 81.9411C40.8348 81.8832 40.8874 81.8201 40.94 81.7569C40.8874 81.8148 40.8348 81.8779 40.7822 81.9411Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.5167 82.2311C40.5681 82.1744 40.6145 82.1229 40.666 82.0663C40.6145 82.1229 40.5681 82.1796 40.5167 82.2311Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M41.0532 81.6339C41.1116 81.5657 41.1752 81.4976 41.2336 81.4242C41.1699 81.4976 41.1116 81.5657 41.0532 81.6339Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.2458 82.5202C40.2921 82.4687 40.3384 82.4172 40.3899 82.3657C40.3436 82.4224 40.2972 82.4738 40.2458 82.5202Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M41.3189 81.3267C41.4091 81.2166 41.4993 81.1118 41.5894 81.0017C41.4993 81.1118 41.4091 81.2166 41.3189 81.3267Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.4165 85.8357C36.4854 85.7879 36.5544 85.7402 36.6234 85.6924C36.5597 85.7402 36.4907 85.7879 36.4165 85.8357Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.9528 85.4636C37.0217 85.4159 37.0907 85.3628 37.1596 85.3098C37.0907 85.3628 37.0217 85.4159 36.9528 85.4636Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.7077 83.0841C39.6613 83.1306 39.62 83.177 39.5736 83.2183C39.6149 83.1718 39.6613 83.1254 39.7077 83.0841Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.6873 85.6547C36.7562 85.607 36.8252 85.5592 36.8941 85.5062C36.8199 85.5592 36.7509 85.607 36.6873 85.6547Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M35.6159 86.3417C35.6946 86.2944 35.7734 86.2419 35.8574 86.1947C35.7786 86.2419 35.6999 86.2944 35.6159 86.3417Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.1207 82.661C40.162 82.6146 40.2084 82.5681 40.2497 82.5217C40.2033 82.5681 40.162 82.6146 40.1207 82.661Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M33.3532 87.4126C34.0883 87.155 34.8444 86.7943 35.616 86.3409C34.8444 86.7943 34.0883 87.155 33.3532 87.4126Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M35.8871 86.1835C35.9605 86.1362 36.034 86.089 36.1128 86.0417C36.034 86.089 35.9605 86.1362 35.8871 86.1835Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M36.1507 86.0138C36.2189 85.9666 36.2924 85.9193 36.3659 85.8721C36.2924 85.9193 36.2189 85.9666 36.1507 86.0138Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.0268 83.7427C39.0734 83.6961 39.1252 83.6495 39.1718 83.6029C39.1252 83.6495 39.0734 83.6961 39.0268 83.7427Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.6676 82.0707C40.7088 82.0243 40.745 81.983 40.7862 81.9366C40.745 81.983 40.7037 82.0294 40.6676 82.0707Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.2973 83.4877C39.3438 83.4413 39.3902 83.3949 39.4366 83.3536C39.3902 83.3949 39.3438 83.4413 39.2973 83.4877Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.3917 82.3666C40.433 82.3202 40.4743 82.2789 40.5156 82.2325C40.4743 82.2789 40.433 82.3253 40.3917 82.3666Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M39.8445 82.9442C39.891 82.8978 39.9322 82.8514 39.9787 82.8049C39.9322 82.8514 39.891 82.8978 39.8445 82.9442Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M38.7503 83.9968C38.8018 83.9504 38.8532 83.9041 38.9047 83.8526C38.8532 83.8989 38.8018 83.9504 38.7503 83.9968Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M38.4796 84.2378C38.5355 84.187 38.5913 84.1363 38.6471 84.0856C38.5913 84.1363 38.5355 84.187 38.4796 84.2378Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.219 85.2694C37.2879 85.2164 37.3569 85.1633 37.4258 85.1103C37.3569 85.1686 37.2879 85.2164 37.219 85.2694Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.4794 85.0686C37.5476 85.0108 37.6211 84.9583 37.6946 84.9006C37.6211 84.9583 37.5476 85.0108 37.4794 85.0686Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M41.2251 81.4264C41.2552 81.3913 41.2853 81.3561 41.3154 81.321C41.2853 81.3561 41.2552 81.3913 41.2251 81.4264Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M37.7138 84.8746C37.9537 84.684 38.1987 84.4831 38.4386 84.2719C38.1987 84.4831 37.9589 84.684 37.7138 84.8746Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M40.9438 81.7594C40.98 81.7181 41.0161 81.6769 41.0522 81.6304C41.0161 81.6769 40.98 81.7181 40.9438 81.7594Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M34.9448 68.9706C35.1228 68.9601 35.2956 68.9497 35.4736 68.9392C35.2956 68.9497 35.1228 68.9601 34.9448 68.9706Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M34.9055 68.9772C34.9172 68.9772 34.929 68.9772 34.9466 68.9772C34.9349 68.9713 34.9172 68.9713 34.9055 68.9772Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M123.571 50.4437C120.153 44.1788 114.735 42.9011 114.735 42.9011C111.213 47.2082 113.36 55.1424 113.36 55.1424C104.013 52.7622 94.594 61.1343 101.132 74.6792C101.132 74.6792 101.205 63.5713 113.214 64.8902C131.974 66.951 126.087 101.31 97.7251 101.31C77.8706 101.31 65.9193 87.0906 58.1098 79.3161C56.4531 82.1703 54.4525 84.7206 52.9521 86.4723C58.6516 95.7564 50.2847 104.711 41.8083 100.857C45.9762 107.905 53.0667 110.94 57.7503 107.611C65.7734 101.908 61.2722 93.8604 61.2722 93.8604C106.696 130.492 140.664 92.5878 129.489 65.3693C129.208 64.6841 129.093 63.9937 128.968 63.3703C128.76 62.6233 128.645 61.835 128.645 61.021C128.645 56.1832 132.61 52.2676 137.497 52.2676C139.487 52.2676 141.326 52.9167 142.806 54.0141C141.065 44.8176 127.843 42.9011 123.571 50.4437Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M43.5017 78.4209C43.7103 78.1118 43.9136 77.7975 44.1222 77.4781C44.1065 77.4678 44.0961 77.4626 44.0805 77.4523C43.7311 78.0448 43.5069 78.4158 43.5017 78.4209Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M120.982 14.5478C119.096 13.7904 116.996 13.3525 114.777 13.2752C109.338 13.0898 103.154 15.0785 97.4908 19.9008C96.4072 20.823 95.3444 21.8483 94.3077 22.9818C94.1878 23.1106 94.0628 23.2394 93.9377 23.3682C93.4949 23.8525 90.02 27.6805 87.0973 31.5909C87.1025 31.5961 87.1025 31.5961 87.1077 31.6012C81.5384 39.1696 76.6933 47.8509 72.5619 56.0943C72.5619 56.0943 68.7015 44.7288 62.7727 38.5565C55.2811 30.7511 55.6249 17.8245 68.54 23.1363C68.54 23.1363 61.0118 11.0392 50.5349 21.7556C50.5349 21.7556 31.4045 15.0579 28.7632 34.6152C47.1954 16.1656 56.7919 42.9822 48.9251 67.094C48.4041 68.7015 47.8206 70.2213 47.1902 71.6588C46.2525 73.7969 45.2157 75.7392 44.1112 77.4806C43.9081 77.8 43.6997 78.1143 43.4913 78.4235L43.3402 78.645C42.7619 79.4848 42.1732 80.2731 41.5741 81.0047C41.4855 81.1129 41.3969 81.221 41.3084 81.3241C41.2771 81.3601 41.2459 81.3962 41.2146 81.4323C41.1573 81.4993 41.1 81.5714 41.0375 81.6384C41.001 81.6796 40.9645 81.7208 40.9281 81.7672C40.876 81.829 40.8239 81.8857 40.7718 81.9475C40.7301 81.9939 40.6936 82.0351 40.6519 82.0814C40.5998 82.1381 40.553 82.1896 40.5009 82.2463C40.4592 82.2927 40.4175 82.3339 40.3758 82.3803C40.3289 82.4318 40.282 82.4833 40.2299 82.5348C40.1883 82.5812 40.1466 82.6276 40.0997 82.6739C40.0528 82.7203 40.0059 82.7718 39.959 82.8182C39.9174 82.8646 39.8705 82.9109 39.8236 82.9573C39.7767 83.0037 39.735 83.05 39.6881 83.0964C39.6412 83.1428 39.5996 83.1891 39.5527 83.2304C39.511 83.2716 39.4641 83.3179 39.4172 83.3592C39.3703 83.4055 39.3234 83.4519 39.2765 83.4931C39.2349 83.5343 39.1932 83.5756 39.1515 83.6168C39.1046 83.6631 39.0525 83.7095 39.0056 83.7559C38.9692 83.7919 38.9275 83.828 38.891 83.8641C38.8389 83.9104 38.7868 83.962 38.7347 84.0083C38.7035 84.0392 38.667 84.0702 38.6357 84.0959C38.5784 84.1474 38.5211 84.199 38.4638 84.2505C38.4482 84.2608 38.4378 84.2711 38.4221 84.2865C38.1825 84.4978 37.9376 84.6987 37.698 84.8893C37.6876 84.8945 37.6824 84.9048 37.6719 84.9099C37.599 84.9666 37.5313 85.0233 37.4583 85.0748C37.4375 85.0903 37.4219 85.1057 37.401 85.1212C37.3333 85.1727 37.2656 85.2242 37.1978 85.2757C37.177 85.2912 37.1562 85.3067 37.1353 85.3221C37.0676 85.3736 36.9999 85.42 36.9321 85.4715C36.9113 85.487 36.8905 85.5024 36.8696 85.5179C36.8019 85.5642 36.7342 85.6158 36.6664 85.6621C36.6456 85.6776 36.6248 85.6931 36.6039 85.7034C36.5362 85.7497 36.4685 85.7961 36.4007 85.8425C36.3799 85.8528 36.3643 85.8682 36.3434 85.8785C36.2757 85.9249 36.2028 85.9713 36.1298 86.0176C36.1142 86.0279 36.0986 86.0382 36.0829 86.0485C36.01 86.0949 35.9371 86.1413 35.8589 86.1877C35.8485 86.1928 35.8381 86.198 35.8277 86.2031C35.7495 86.2495 35.6714 86.301 35.588 86.3474C34.817 86.8008 34.0615 87.1614 33.3218 87.419C32.5194 87.8054 31.6181 88.0218 30.6648 88.0218C27.3149 88.0218 24.6006 85.3376 24.6006 82.0248C24.6006 79.9845 25.6321 78.1865 27.2002 77.1045C27.3409 77.0066 27.4868 76.9139 27.6379 76.8263C29.0862 75.9144 35.0827 74.0133 41.2615 76.1823C42.8713 73.7917 43.7049 71.7721 44.1112 70.5201C39.9695 69.2527 32.1964 67.8307 24.2463 71.4115C19.7033 73.292 16.5097 77.7279 16.5097 82.9058C16.5097 85.9661 17.6246 88.7689 19.4741 90.9327C20.6724 92.3393 22.1832 93.4779 23.892 94.2455C25.929 95.0905 28.2995 95.4254 30.8471 95.2347C37.2343 94.7607 44.7156 90.9791 50.6964 83.6168C52.3323 81.6075 53.8536 79.3302 55.2081 76.7799C58.8602 69.9173 61.3244 61.0764 61.5641 50.1539C61.5641 50.1539 70.452 60.8342 73.1454 75.7907C73.1454 75.7907 78.5532 58.5467 83.6692 50.3858C83.091 58.083 83.7786 66.6509 86.6232 74.5697C86.8785 75.7856 87.1077 76.7078 87.3005 77.1612C90.4524 84.6472 87.4307 92.7154 77.9593 91.144C77.9593 91.144 90.3013 98.9494 95.0474 87.723C95.0474 87.723 106.077 92.1177 111.854 85.2448C117.632 78.3719 115.574 71.2517 111.932 68.6448C111.932 68.6448 114.782 78.2328 105.962 81.2416C99.8561 83.3179 88.4362 76.579 90.9682 51.7511C91.2756 48.7371 91.932 45.7592 92.8489 42.9101C93.2188 41.5963 93.7502 40.2155 94.3702 38.8554C94.6046 38.335 94.8547 37.8147 95.1099 37.2994C96.4437 34.6255 97.9545 32.1886 98.9235 30.6996C99.4497 29.8959 99.8144 29.3704 99.903 29.2467C99.9186 29.2261 99.9238 29.2158 99.9238 29.2158C100.716 28.1545 101.539 27.1395 102.388 26.1915C106.04 22.3017 109.275 19.839 112.136 19.262C112.646 19.1435 113.172 19.0765 113.719 19.0765C117.512 19.0765 120.586 22.1162 120.586 25.8669C120.586 27.0416 120.284 28.1442 119.752 29.1076C118.366 31.8485 114.543 33.9094 107.733 33.286C107.733 33.286 106.301 33.1211 104.206 32.575C103.477 32.3843 102.659 32.1422 101.799 31.8485C100.32 33.5745 98.9652 36.2536 97.9389 38.6184C98.2046 38.7266 98.4755 38.8348 98.7464 38.943C100.012 39.4839 102.576 40.4268 105.832 40.8647C109.593 41.3696 114.277 41.1944 118.945 38.9275C120.596 38.1238 122.185 37.0573 123.597 35.8053C124.139 35.3262 124.655 34.8161 125.139 34.2855C127.046 32.0598 128.197 29.1797 128.197 26.037C128.239 20.9828 125.28 16.6189 120.982 14.5478Z"-->
<!--                  fill="#EA9400"/>-->
<!--            <path d="M43.3506 78.6432L43.5028 78.4202C43.4556 78.4928 43.4031 78.5654 43.3506 78.6432Z" fill="#EA9400"/>-->
<!--        </svg>-->
<!--    </div>-->
<!--</div>-->

<header class="header">
    <div class="container">
        <div class="header-top">
            <ul class="languages">
                <li class="languages__li">
                    <a class="languages__link" href="#">Русский</a>
                </li>
                <li class="languages__li">
                    <a class="languages__link" href="#">O'zbekcha</a>
                </li>
                <li class="languages__li">
                    <a class="languages__link" href="#">Ўзбекча</a>
                </li>
            </ul>
            <nav class="header-top__nav">
                <ul class="header-top__ul">
                    <li class="header-top__li">
                        <a class="header-top__link map-link" href="#">
                            <svg width="13" height="16" viewBox="0 0 13 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                        d="M11.8889 6.44444C11.8889 10.1827 8.39528 13.4218 7.00518 14.5627C6.67489 14.8338 6.214 14.8338 5.88371 14.5627C4.49361 13.4218 1 10.1827 1 6.44444C1 3.43756 3.43756 1 6.44444 1C9.45133 1 11.8889 3.43756 11.8889 6.44444Z"
                                        stroke="" stroke-width="1.5"/>
                                <circle cx="6.44442" cy="6.44466" r="2.33333" stroke="" stroke-width="1.5"/>
                            </svg>
                            <span>Ташкент</span>
                        </a>
                    </li>
                    <li class="header-top__li">
                        <a class="header-top__link" href="#">
                            Мобильное приложение
                        </a>
                    </li>
                    <li class="header-top__li">
                        <a class="header-top__link" href="#">
                            Скидки
                        </a>
                    </li>
                    <li class="header-top__li">
                        <a class="header-top__link" href="#">
                            Помощь
                        </a>
                    </li>
                    <li class="header-top__li">
                        <a class="header-top__link" href="#">
                            Адреса магазинов
                        </a>
                    </li>
                    <li class="header-top__li">
                        <a class="header-top__link" href="#">
                            Доставка
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-middle">
            <a class="site-logo" href="/">
                <img src="/images/logos/site-logo.svg" alt="site logo" width="158" height="50">
            </a>
            <button class="catalog-btn" id="catalog-btn">
                <img src="/images/icons/catalog.svg" alt="catalog btn icon">
                <span>Каталог</span>
            </button>
            <button class="menu-btn">
                <img src="/images/icons/menu.svg" alt="menu icon">
            </button>
            <form class="search-form" action="#">
                <input class="search-form__input" type="text" name="product_name" placeholder="Поиск по товаром...">
                <button class="category-btn" type="button">
                    <span>Все категории</span>
                    <img src="/images/icons/dropdownarrow.svg" alt="dropdown icon">
                </button>
                <button class="search-form__submit" type="button">
                    <img src="/images/icons/search.svg" alt="search icon">
                </button>
                <ul class="searching-result__ul d-none"></ul>
            </form>
            <nav class="header-middle__nav">
                <ul class="header-middle__ul">
                    <% if (user) { %>
                        <li class="header-middle__li" id="cabinet" data-cabinet-dropdown="true">
                            <a class="header-middle__link" data-cabinet-dropdown="true">
                                <svg width="22" height="22" viewBox="0 0 24 24" fill="none" data-cabinet-dropdown="true"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.7782 4.22182C17.7006 2.14421 14.9382 1 12 1C9.06168 1 6.29942 2.14421
                                        4.22182 4.22182C2.14421 6.29942 1 9.06168 1 12C1 14.9382 2.14421 17.7006 4.22182
                                        19.7782C6.29942 21.8558 9.06168 23 12 23C14.9382 23 17.7006 21.8558 19.7782 19.7782C21.8558
                                        17.7006 23 14.9382 23 12C23 9.06168 21.8558 6.29942 19.7782 4.22182ZM6.5146 20.0088C6.97467
                                        17.3598 9.27014 15.4059 12 15.4059C14.73 15.4059 17.0253 17.3598 17.4854 20.0088C15.9236 21.0818
                                        14.034 21.7109 12 21.7109C9.96603 21.7109 8.07642 21.0818 6.5146 20.0088ZM8.50241 10.6193C8.50241
                                        8.69057 10.0714 7.1217 12 7.1217C13.9286 7.1217 15.4976 8.69073 15.4976 10.6193C15.4976 12.5479
                                        13.9286 14.1169 12 14.1169C10.0714 14.1169 8.50241 12.5479 8.50241 10.6193ZM18.6019 19.1147C18.255
                                        17.8815 17.566 16.7626 16.6002 15.8887C16.0077 15.3524 15.3333 14.9293 14.6082 14.631C15.9187 13.7762
                                        16.7868 12.2973 16.7868 10.6193C16.7868 7.9799 14.6394 5.83264 12 5.83264C9.36061 5.83264 7.21335 7.9799
                                        7.21335 10.6193C7.21335 12.2973 8.08145 13.7762 9.39183 14.631C8.6669 14.9293 7.99232 15.3522 7.39983
                                        15.8885C6.4342 16.7625 5.74503 17.8813 5.39809 19.1145C3.48715 17.3399 2.28906 14.8074 2.28906 12C2.28906
                                        6.64536 6.64536 2.28906 12 2.28906C17.3546 2.28906 21.7109 6.64536 21.7109 12C21.7109 14.8076 20.5128 17.34
                                        18.6019 19.1147Z" fill="" stroke="" stroke-width="0.5"/>
                                </svg>
                                <span data-cabinet-dropdown="true">Кабинет</span>
                            </a>
                            <div class="cabinet-dropdown d-none">
                                <div class="cabinet-dropdown__header" data-cabinet-dropdown="true">
                                    <img src="/images/users/<%= user.img %>" alt="user name" data-cabinet-dropdown="true">
                                    <div data-cabinet-dropdown="true">
                                        <h3 data-cabinet-dropdown="true"><%= user.name %></h3>
                                        <span data-cabinet-dropdown="true"><%= user.email %></span>
                                    </div>
                                </div>
                                <div class="cabinet-dropdown__body">
                                    <ul class="cabinet-dropdown__ul" data-cabinet-dropdown="true">
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link" href="/cabinet/orders">
                                                <img src="/images/icons/orders.svg" alt="orders icon">
                                                <span>Заказы</span>
                                            </a>
                                        </li>
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link" href="/cabinet">
                                                <img class="mr-30" src="/images/icons/list.svg" alt="list icon">
                                                <span>Личный кабинет</span>
                                            </a>
                                        </li>
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link" href="#">
                                                <img src="/images/icons/mail.svg" alt="mail icon">
                                                <span>Сообщения</span>
                                            </a>
                                        </li>
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link" href="#">
                                                <img src="/images/icons/ball.svg" alt="ball icon">
                                                <span>Баллы</span>
                                            </a>
                                        </li>
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link" href="#">
                                                <img src="/images/icons/cart.svg" alt="card icon">
                                                <span>Meros Card</span>
                                            </a>
                                        </li>
                                        <li class="cabinet-dropdown__li">
                                            <a class="cabinet-dropdown__link cabinet-dropdown__link--exit" href="/exit">
                                                <img src="/images/icons/exit.svg" alt="card icon">
                                                <span>Выйти</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="header-middle__li">
                            <a class="header-middle__link" href="#">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.95221 0.72685C10.3146 -0.242283 11.6854 -0.242284 12.0478 0.72685L14.353 6.89165L20.9284 7.17897C21.9621
                                      7.22414 22.3857 8.52786 21.5759 9.17198L16.4252 13.2694L18.1839 19.6117C18.4603 20.6088 17.3513 21.4145 16.4885
                                      20.8435L11 17.211L5.5115 20.8435C4.64868 21.4145 3.53967 20.6088 3.81614 19.6117L5.5748 13.2694L0.424063
                                      9.17198C-0.385656 8.52786 0.0379494 7.22414 1.07163 7.17897L7.64704 6.89165L9.95221 0.72685ZM11 2.71561L9.08907
                                      7.82607C8.93186 8.24651 8.53856 8.53226 8.09012 8.55186L2.63927 8.79004L6.9091 12.1867C7.26038 12.4661 7.41061
                                      12.9284 7.29067 13.361L5.83279 18.6187L10.3826 15.6074C10.7569 15.3597 11.2431 15.3597 11.6174 15.6074L16.1672
                                      18.6187L14.7093 13.361C14.5894 12.9285 14.7396 12.4661 15.0909 12.1867L19.3607 8.79004L13.9099 8.55186C13.4614
                                      8.53226 13.0681 8.24651 12.9109 7.82607L11 2.71561Z" fill=""/>
                                </svg>
                                <span>Избранное</span>
                            </a>
                        </li>
                        <li class="header-middle__li">
                            <a class="header-middle__link" href="/cart">
                                <span class="header-middle__link--cart">
                                    <svg width="22" height="22" viewBox="0 0 22 22" fill="#000000"
                                         xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M6.41675 19.2498C6.41675 18.2373 7.23756 17.4165 8.25008 17.4165C9.2626 17.4165 10.0834 18.2373 10.0834
                                      19.2498C10.0834 20.2624 9.2626 21.0832 8.25008 21.0832C7.23756 21.0832 6.41675 20.2624 6.41675 19.2498Z"
                                          fill=""/>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M16.5 19.2498C16.5 18.2373 17.3208 17.4165 18.3333 17.4165C19.3459 17.4165 20.1667 18.2373 20.1667
                                      19.2498C20.1667 20.2624 19.3459 21.0832 18.3333 21.0832C17.3208 21.0832 16.5 20.2624 16.5 19.2498Z"
                                          fill=""/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.916666C0 0.410405 0.410405 0 0.916666 0H4.58333C5.02024 0 5.39643 0.308353 5.48217 0.736764L6.25206
                                      4.58333H21.0833C21.3565 4.58333 21.6155 4.70518 21.7896 4.91567C21.9638 5.12616 22.0349 5.40336 21.9838
                                      5.67171L20.5158 13.3694C20.3901 14.0025 20.0456 14.5711 19.5429 14.9758C19.0426 15.3785 18.4173 15.5934
                                      17.7754 15.5833H8.88126C8.23934 15.5934 7.61402 15.3785 7.11377 14.9758C6.61122 14.5713 6.26691 14.0029
                                      6.14105 13.3702C6.141 13.3699 6.1411 13.3704 6.14105 13.3702L4.60972 5.71927C4.60351 5.69396 4.59835 5.66824
                                      4.59429 5.64215L3.83196 1.83333H0.916666C0.410405 1.83333 0 1.42293 0 0.916666ZM6.619 6.41666L7.9391
                                      13.0122C7.98101 13.2233 8.09581 13.4128 8.26339 13.5477C8.43098 13.6826 8.64067 13.7543 8.85577 13.7502L8.87333
                                      13.75H17.7833L17.8009 13.7502C18.016 13.7543 18.2257 13.6826 18.3933 13.5477C18.5601 13.4134 18.6746 13.225 18.717
                                      13.0152L19.9753 6.41666H6.619Z" fill=""/>
                                  </svg>
                                    <span class="header-middle__link--cart-count"><%= user.productCountInCart ? user.productCountInCart : 0 %></span>
                                    <span class="header-middle__link--cart-count"><%= user.productCountInCart ? user.productCountInCart : 0 %></span>
                                </span>
                                <span>Корзина</span>
                            </a>
                        </li>
                    <% } else { %>
                        <li class="header-middle__li">
                            <a class="header-middle__link" href="/users/login">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.7782 4.22182C17.7006 2.14421 14.9382 1 12 1C9.06168 1 6.29942 2.14421 4.22182 4.22182C2.14421 6.29942 1 9.06168 1 12C1 14.9382 2.14421 17.7006 4.22182 19.7782C6.29942 21.8558 9.06168 23 12 23C14.9382 23 17.7006 21.8558 19.7782 19.7782C21.8558 17.7006 23 14.9382 23 12C23 9.06168 21.8558 6.29942 19.7782 4.22182ZM6.5146 20.0088C6.97467 17.3598 9.27014 15.4059 12 15.4059C14.73 15.4059 17.0253 17.3598 17.4854 20.0088C15.9236 21.0818 14.034 21.7109 12 21.7109C9.96603 21.7109 8.07642 21.0818 6.5146 20.0088ZM8.50241 10.6193C8.50241 8.69057 10.0714 7.1217 12 7.1217C13.9286 7.1217 15.4976 8.69073 15.4976 10.6193C15.4976 12.5479 13.9286 14.1169 12 14.1169C10.0714 14.1169 8.50241 12.5479 8.50241 10.6193ZM18.6019 19.1147C18.255 17.8815 17.566 16.7626 16.6002 15.8887C16.0077 15.3524 15.3333 14.9293 14.6082 14.631C15.9187 13.7762 16.7868 12.2973 16.7868 10.6193C16.7868 7.9799 14.6394 5.83264 12 5.83264C9.36061 5.83264 7.21335 7.9799 7.21335 10.6193C7.21335 12.2973 8.08145 13.7762 9.39183 14.631C8.6669 14.9293 7.99232 15.3522 7.39983 15.8885C6.4342 16.7625 5.74503 17.8813 5.39809 19.1145C3.48715 17.3399 2.28906 14.8074 2.28906 12C2.28906 6.64536 6.64536 2.28906 12 2.28906C17.3546 2.28906 21.7109 6.64536 21.7109 12C21.7109 14.8076 20.5128 17.34 18.6019 19.1147Z"
                                          fill="" stroke="" stroke-width="0.5"/>
                                </svg>
                                <span>Войти</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="header-bottom">
            <nav class="header-bottom__nav">
                <ul class="header-bottom__ul">
                    <% if (categories.length > 0) { %>
                        <% for (let i = 0; i < categories.length; i++) { %>
                            <% if (i === 12) break; %>
                            <li class="header-bottom__li">
                                <a class="header-bottom__link"
                                   href="/category/<%= categories[i].slug %>"><%= categories[i].ru_name[0].toUpperCase() + categories[i].ru_name.substring(1) %></a>
                            </li>
                        <% } %>
                    <% } else { %>
                        <li>Bo`sh</li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <nav class="bottom-nav">
            <ul class="bottom-nav__ul">
                <li class="bottom-nav__li">
                    <a class="bottom-nav__link <%= (path === '/') ? 'active' : '' %>" href="/">
                        <img src="/images/bottom-nav/home<%= (path === '/') ? '-active' : '' %>.svg" alt="icon">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="bottom-nav__li">
                    <a class="bottom-nav__link <%= (path === '/categories') ? 'active' : '' %>" href="/categories">
                        <img src="/images/bottom-nav/catalog<%= (path === '/categories') ? '-active' : '' %>.svg"
                             alt="icon">
                        <span>Каталог</span>
                    </a>
                </li>
                <li class="bottom-nav__li">
                    <a class="bottom-nav__link <%= (path === '/cart') ? 'active' : '' %>" href="<%= user ? '/cart' : '/users/login' %>">
                        <span class="bottom-nav__link--cart">
                            <% if (user) { %>

                                    <span class="bottom-nav__link--cart-count"><%= user.productCountInCart ? user.productCountInCart : 0 %></span>

                                <span class="bottom-nav__link--cart-count"><%= user.productCountInCart ? user.productCountInCart : 0 %></span>

                            <% } %>
                            <img src="/images/bottom-nav/cart<%= (path === '/cart') ? '-active' : '' %>.svg" alt="icon">
                        </span>
                        <span>Корзина</span>
                    </a>
                </li>
                <li class="bottom-nav__li">
                    <a class="bottom-nav__link <%= (path === '/favourites') ? 'active' : '' %>" href="<%= user ? '/favourites' : '/users/login' %>">
                        <img src="/images/bottom-nav/star<%= (path === '/favourites') ? '-active' : '' %>.svg"
                             alt="icon">
                        <span>Избранное</span>
                    </a>
                </li>
                <li class="bottom-nav__li">
                    <a class="bottom-nav__link <%= (path === '/cabinet') ? 'active' : '' %>"
                       href="<%= user ? '/cabinet' : '/users/login' %>">
                        <img src="/images/bottom-nav/profile<%= (path === '/cabinet') ? '-active' : '' %>.svg"
                             alt="icon">
                        <span>Профиль</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="categories-menu">
            <header class="categories-menu__header">
                <h2>Категории</h2>
                <button class="categories-menu__close">
                    <svg width="18" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="22.523" height="2.40226" rx="1.20113"
                              transform="matrix(0.708706 -0.705504 0.708706 0.705504 0.40332 15.9114)"
                              fill="#273142"/>
                        <rect width="22.523" height="2.40226" rx="1.20113"
                              transform="matrix(-0.707763 -0.70645 0.707763 -0.70645 16.0312 17.9998)"
                              fill="#273142"/>
                    </svg>
                </button>
            </header>
            <ul class="categories-menu__list">
                <% categories.forEach(category => { %>
                    <li class="categories-menu__item">
                        <div class="categories-menu__title">
                            <span><%= capitalize(category.ru_name) %></span>
                            <span class="categories-menu__round"></span>
                        </div>
                        <% category.sub_categories.forEach(sub_cat => { %>
                            <div class="categories-menu__content">
                                <div class="categories-menu__content__card">
                                    <h3>
                                        <a href="/category/<%= category.slug %>/<%= sub_cat.sub_category_slug %>">
                                            <%= capitalize(sub_cat.sub_category_name_ru) %>
                                        </a>
                                    </h3>
                                    <ul class="categories-menu__content__ul">
                                        <% sub_cat.sub_sub_categories.forEach(sub_sub_cat => { %>
                                            <li class="categories-menu__content__li">
                                                <a class="categories-menu__content__link" href="/category/<%= category.slug %>/<%= sub_cat.sub_category_slug %>/<%= sub_sub_cat.sub_sub_category_slug%>">
                                                    <%= capitalize(sub_sub_cat.sub_sub_category_name_ru) %>
                                                </a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        <% }) %>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</header>