<%- include('partials/header') %>
<%
var products
const capitalize = text => {
    return text[0].toUpperCase() + text.substring(1)
}
const titleNormalize = title => {
    if (title.length <= 50) {
        return title
    }
    return title.substring(0, 50) + '...'
}
%>
<section class="banner">
    <div class="container">
        <div class="row mb-10">
            <div class="banner__slider splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% banners.carousel.forEach(el => { %>
                            <li class="splide__slide">
                            <a href="<%= el.url %>">
                                <picture>
                                    <source media="(max-width: 800px)" srcset="/images/banner/<%= el.img %>">
                                    <img src="/images/banner/<%= el.img %>" alt="image">
                                </picture>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            <div class="banner__ads">
                <a class="banner__ad mb-10" href="<%= banners.home_banner_small1.url ? banners.home_banner_small1.url : '#'%>">
                    <img src="<%= banners.home_banner_small1.img ?  '/images/banner/' + banners.home_banner_small1.img : 'https://via.placeholder.com/460x170' %>" alt="banner image">
                </a>
                <a class="banner__ad mb-10" href="<%= banners.home_banner_small2.url ? banners.home_banner_small2.url : '#'%>">
                    <img src="<%= banners.home_banner_small2.img ?  '/images/banner/' + banners.home_banner_small2.img : 'https://via.placeholder.com/460x170' %>" alt="banner image">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="categories categories-mobile mb-30">
    <div class="container">
        <ul class="categories__list">
            <% categories.slice(0, 12).forEach((category, index) => { %>
                <li class="categories__item">
                    <div class="categories__img">
                        <img src="/images/categories/<%= category.thumb %>" alt="">
                    </div>
                    <div class="categories__name"><%= category.ru_name[0].toUpperCase() + category.ru_name.substring(1) %></div>
                    <a class="categories__link" href="/category/<%= category.slug %>"></a>
                </li>
            <% }) %>
        </ul>
    </div>
</section>

<div class="container">
    <div class="ad-tape">
        <a href="<%= banners.banner_horizontal_1.url ? banners.banner_horizontal_1.url : '#' %>">
            <picture>
                <source media="(max-width: 800px)" srcset="<%= banners.banner_horizontal_1.img ? '/images/banner/' + banners.banner_horizontal_1.img : 'https://via.placeholder.com/1440x148'%>">
                <source media="(max-width: 600px)" srcset="<%= banners.banner_horizontal_1.img ? '/images/banner/' + banners.banner_horizontal_1.img : 'https://via.placeholder.com/1440x148'%>">
                <img src="<%= banners.banner_horizontal_1.img ? '/images/banner/' + banners.banner_horizontal_1.img : 'https://via.placeholder.com/1440x148'%>" alt="image">
            </picture>
        </a>
    </div>
</div>

<section class="section mb-30">
    <div class="container">
        <h2 class="section__heading">Специально для вас</h2>
        <div class="row justify-content-between">
            <div class="special-for-you__card">
                <img src="/images/special-for-you/meros-merch.svg" alt="meros merch">
                <h3>Meros Мерч Бренд</h3>
                <a href="#"> </a>
            </div>
            <div class="special-for-you__card">
                <img src="/images/special-for-you/meros-diskont.svg" alt="meros diskont">
                <h3>Meros Дисконт</h3>
                <a href="#"> </a>
            </div>
            <div class="special-for-you__card">
                <img src="/images/special-for-you/best-gift.svg" alt="best gift image">
                <h3>Лучший Подарок</h3>
                <a href="#"> </a>
            </div>
        </div>
    </div>
</section>

<% if(bestsellers.length > 0) { %>
    <section class="section products">
    <div class="container">
        <h2 class="section__heading">Лучшие предложения!</h2>
        <div class="row mb-70">
            <aside class="products__aside">
                <div class="ad-column">
                    <a href="<%= banners.home_banner_left.url ? banners.home_banner_left.url : '#'%>">
                        <img src="<%= banners.home_banner_left.img ? '/images/banner/' + banners.home_banner_left.img : 'https://via.placeholder.com/290x790' %>" alt="aside ad">
                    </a>
                </div>
            </aside>
            <main class="products__main products--four">
                <% bestsellers.forEach(product => { %>
                    <div class="product-card">
                        <div>
                            <div class="product-card__header">
                                <img src="/images/products/<%= product["product.thumb"][0] %>"
                                     alt="<%= product["product.ru_name"] %>">
                                <% if (product["product.sale"]) { %>
                                    <span class="product-card__discount">-<%= product["product.sale"] %>%</span>
                                <% } %>
                                <ul class="product-card__action">
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/eye.svg" alt="eye icon">
                                        </button>
                                    </li>
                                    <li class="product-card__action__item">
                                        <% if (product.inWishList) { %>
                                            <button class="in-wish-list"
                                                    data-wishlist-btn="<%= product['product.product_id'] %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } else { %>
                                            <button data-wishlist-btn="<%= product["product.product_id"] %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } %>
                                    </li>
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/trash.svg" alt="trash icon">
                                        </button>
                                    </li>
                                </ul>
                                <% if (product.inWishList) { %>
                                    <button class="product-card__favourite in-wish-list"
                                            data-wishlist-btn="<%= product["product.product_id"] %>">
                                        <img src="/images/icons/favourites-active.svg" alt="">
                                    </button>
                                <% } else { %>
                                    <button class="product-card__favourite"
                                            data-wishlist-btn="<%= product["product.product_id"] %>">
                                        <img src="/images/icons/favourites-passive.svg" alt="">
                                    </button>
                                <% } %>
                            </div>
                            <div class="product-card__body">
                                <a class="product-card__category"
                                   href="/category/<%= product["product.category.ru_name"] %>"><%= capitalize(product["product.category.ru_name"]) %></a>
                                <h3 class="product-card__title">
                                    <a style="color: #273142" href="/product/<%= product["product.slug"] %>">
                                        <%= titleNormalize(product["product.ru_name"]) %>
                                    </a>
                                </h3>
                                <img class="product-card__rating-stars"
                                     src="/images/rating-stars/<%= product.stars %>.svg"
                                     alt="rating stars">
                            </div>
                        </div>
                        <div>
                            <div class="product-card__footer">
                                <span class="product-card__new-price"><%= Math.round(product["product.price"] * (100 - product["product.sale"]) / 100) %> сум</span>
                                <del class="product-card__old-price"><%= product.price %> сум</del>
                            </div>
                            <button class="to-cart <%= product.inCart ? 'd-none' : '' %>"
                                    data-add-cart="<%= product["product.product_id"] %>">
                                В корзину
                            </button>
                            <div class="product-card__cart <%= product.inCart ? '' : 'd-none' %>">
                                <button class="product-card__cart__btn product-card__cart__btn--increment"
                                        data-increment-product="<%= product["product.product_id"] %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 5V19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <span><%= product.inCart %></span>
                                <button class="product-card__cart__btn product-card__cart__btn--decrement"
                                        data-decrement-product="<%= product["product.product_id"] %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </main>
        </div>
    </div>
</section>
<% } %>
<div class="container">
    <div class="ad-tape">
        <a href="<%= banners.banner_horizontal_2.url ? banners.banner_horizontal_2.url : '#' %>">
            <picture>
                <source media="(max-width: 800px)" srcset="<%= banners.banner_horizontal_2.img ? '/images/banner/' + banners.banner_horizontal_2.img : 'https://via.placeholder.com/1440x148'%>">
                <source media="(max-width: 600px)" srcset="<%= banners.banner_horizontal_2.img ? '/images/banner/' + banners.banner_horizontal_2.img : 'https://via.placeholder.com/1440x148'%>">
                <img src="<%= banners.banner_horizontal_2.img ? '/images/banner/' + banners.banner_horizontal_2.img : 'https://via.placeholder.com/1440x148'%>" alt="image">
            </picture>
        </a>
    </div>
</div>
<% if(sale.length > 0) { %>
    <section class="section products mb-50">
    <div class="container">
        <h2 class="section__heading">Все товары со скидками!</h2>
        <div class="row">
            <main class="products__main products--four">
                <% sale.forEach(product => {  %>
                    <div class="product-card">
                        <div>
                            <div class="product-card__header">
                                <img src="/images/products/<%= product.thumb[0] %>"
                                     alt="<%= product.ru_name %>">
                                <% if (product.sale) { %>
                                    <span class="product-card__discount">-<%= product.sale %>%</span>
                                <% } %>
                                <ul class="product-card__action">
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/eye.svg" alt="eye icon">
                                        </button>
                                    </li>
                                    <li class="product-card__action__item">
                                        <% if (product.inWishList) { %>
                                            <button class="in-wish-list" data-wishlist-btn="<%= product.product_id %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } else { %>
                                            <button data-wishlist-btn="<%= product.product_id %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } %>
                                    </li>
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/trash.svg" alt="trash icon">
                                        </button>
                                    </li>
                                </ul>
                                <% if (product.inWishList) { %>
                                    <button class="product-card__favourite in-wish-list"
                                            data-wishlist-btn="<%= product.product_id %>">
                                        <img src="/images/icons/favourites-active.svg" alt="">
                                    </button>
                                <% } else { %>
                                    <button class="product-card__favourite"
                                            data-wishlist-btn="<%= product.product_id %>">
                                        <img src="/images/icons/favourites-passive.svg" alt="">
                                    </button>
                                <% } %>
                            </div>
                            <div class="product-card__body">
                                <a class="product-card__category"
                                   href="/category/<%= product['category.ru_name'] %>"><%= capitalize(product['category.ru_name']) %></a>
                                <h3 class="product-card__title">
                                    <a style="color: #273142" href="/product/<%= product.slug %>">
                                        <%= titleNormalize(product.ru_name) %>
                                    </a>
                                </h3>
                                <img class="product-card__rating-stars"
                                     src="/images/rating-stars/<%= product.stars %>.svg"
                                     alt="rating stars">
                            </div>
                        </div>
                        <div>
                            <div class="product-card__footer">
                                <span class="product-card__new-price"><%= Math.round(product.price * (100 - product.sale) / 100) %> сум</span>
                                <del class="product-card__old-price"><%= product.price %> сум</del>
                            </div>
                            <button class="to-cart <%= product.inCart ? 'd-none' : '' %>"
                                    data-add-cart="<%= product.product_id %>">
                                В корзину
                            </button>
                            <div class="product-card__cart <%= product.inCart ? '' : 'd-none' %>">
                                <button class="product-card__cart__btn product-card__cart__btn--increment"
                                        data-increment-product="<%= product.product_id %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 5V19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <span><%= product.inCart %></span>
                                <button class="product-card__cart__btn product-card__cart__btn--decrement"
                                        data-decrement-product="<%= product.product_id %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </main>
            <aside class="products__aside">
                <div class="ad-column">
                    <a href="<%= banners.home_banner_right.url ? banners.home_banner_right.url : '#'%>">
                        <img src="<%= banners.home_banner_right.img ? '/images/banner/' + banners.home_banner_right.img : 'https://via.placeholder.com/290x790' %>" alt="aside ad">
                    </a>
                </div>
            </aside>
        </div>
    </div>
</section>
<% } %>

<section class="additional">
    <div class="container">
        <div class="additional__card">
            <h3>Доставка по всему<br>Узбекистану</h3>
            <a href="/">Условия доставки</a>
            <img src="/images/additional/1.png" alt="">
        </div>
        <div class="additional__card">
            <h3>Установите мобильное<br>приложение</h3>
            <a href="/">Установить</a>
            <img src="/images/additional/2.png" alt="">
        </div>
        <div class="additional__card">
            <h3>Оплата наличными<br>или картой</h3>
            <a href="/">Условия оплаты</a>
            <img src="/images/additional/3.png" alt="">
        </div>
    </div>
</section>
<% if(categories.length > 0 ) { %>
    <section class="section popular-categories">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">Популярные категории</h2>
        </header>
        <div class="popular-categories__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <% categories.forEach(category => { %>
                        <li class="splide__slide">
                            <div class="popular-categories__card">
                                <div>
                                    <img src="/images/categories/<%= category.thumb %>" alt="Книги">
                                </div>
                                <h3><%= category.ru_name %></h3>
                                <a href="/category/<%= category.ru_name %>"></a>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>
<% } %>
<% if(recommendation.length > 0) { %>
    <%- include("recommendation") %>
<% } %>

<%- include('partials/brands') %>
<%- include('cabinet/toast') %>

<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>