<% var product %>
<%
    const capitalize = text => {
        return text[0].toUpperCase() + text.substring(1)
    }
%>
<%- include('partials/header.ejs') %>
<div class="container pt-20">
    <nav class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/books">
                    Книги
                </a>
            </li>
            <li class="breadcrumb-item">
                Узбеская литература
            </li>
        </ol>
    </nav>
</div>

<section class="single-product">
    <div class="container">
        <div class="row mb-70">
            <div class="product-gallery">
                <ul id="lightSliderVertical">
                    <% product.thumb.forEach(thumb => { %>
                        <li data-thumb="/images/products/<%= thumb %>">
                            <a href="/images/products/<%= thumb %>" data-fancybox="gallery">
                                <img src="/images/products/<%= thumb %>" />
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="product-info">
                <h2 class="product-name"><%= capitalize(product.ru_name) %></h2>
                <div class="product-rating">
                    <img src="/images/products/rating.svg" alt="rating stars">
                    <a href="#">Отзывы (50)</a>
                </div>
                <div class="product-short-info">
                    <h3>Коротко о товарe</h3>
                    <div class="product-short-info__part">
                        <ul class="product-short-info__ul">
                            <% JSON.parse(product.options).slice(0, 10).forEach((option, index) => { %>
                                <li class="product-short-info__li">
                                    <div class="product-short-info__definition">
                                        <%= capitalize(option['ru']['key']) %>
                                    </div>
                                    <div class="product-short-info__value">
                                        <%= capitalize(option['ru']['value']) %>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
<!--                    <div class="product-short-info__part product-color">-->
<!--                        <h4>Цвет:</h4>-->
<!--                        <div class="row">-->
<!--                            <div class="product-color__item">-->
<!--                                <img src="/images/single-product/color-1.png" alt="">-->
<!--                            </div>-->
<!--                            <div class="product-color__item">-->
<!--                                <img src="/images/single-product/color-2.png" alt="">-->
<!--                            </div>-->
<!--                            <div class="product-color__item">-->
<!--                                <img src="/images/single-product/color-3.png" alt="">-->
<!--                            </div>-->
<!--                            <div class="product-color__item">-->
<!--                                <img src="/images/single-product/color-4.png" alt="">-->
<!--                            </div>-->
<!--                            <div class="product-color__item">-->
<!--                                <img src="/images/single-product/color-5.png" alt="">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="product-short-info__part product-size mb-0">-->
<!--                        <h4>Размер:</h4>-->
<!--                        <div class="row">-->
<!--                            <div class="product-size__item">L for 70-80kg</div>-->
<!--                            <div class="product-size__item">XL for 80-90kg</div>-->
<!--                            <div class="product-size__item">XXL for 85-95kg</div>-->
<!--                            <div class="product-size__item">4XL for 95kg-105kg</div>-->
<!--                            <div class="product-size__item">5XL for 100-110kg</div>-->
<!--                            <div class="product-size__item">XXXL for 90-100kg</div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="product-count">
                        <h4>Количество: </h4>
                        <div class="product-count__change">
                            <button>
                                <img src="/images/icons/minus.svg" alt="">
                            </button>
                            <span>1</span>
                            <button>
                                <img src="/images/icons/plus.svg" alt="">
                            </button>
                        </div>
<!--                        <div class="product-count__additional-info">-->
<!--                            Дополнительно Скидка 5% (от 2 шт.)-->
<!--                            2239581 шт. в наличии-->
<!--                        </div>-->
                    </div>
                    <div class="product-price">
                        <span class="price">450 000 сум - 900 000 сум</span>
                        <del>1 000 000 сум</del>
                    </div>
                </div>
                <div class="product-actions">
                    <div>
                        <button class="button-blue-sm mr-20">Купить</button>
                        <button class="button-outline-sm">В корзину</button>
                    </div>
                    <div>
                        <button class="add-to-favourite">
                            <svg width="22" height="22" viewBox="0 0 22 22" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M9.95221 0.72685C10.3146 -0.242283 11.6854 -0.242284 12.0478 0.72685L14.353 6.89165L20.9284 7.17897C21.9621 7.22414 22.3857 8.52786 21.5759 9.17198L16.4252 13.2694L18.1839 19.6117C18.4603 20.6088 17.3513 21.4145 16.4885 20.8435L11 17.211L5.5115 20.8435C4.64868 21.4145 3.53967 20.6088 3.81614 19.6117L5.5748 13.2694L0.424063 9.17198C-0.385656 8.52786 0.0379494 7.22414 1.07163 7.17897L7.64704 6.89165L9.95221 0.72685ZM11 2.71561L9.08907 7.82607C8.93186 8.24651 8.53856 8.53226 8.09012 8.55186L2.63927 8.79004L6.9091 12.1867C7.26038 12.4661 7.41061 12.9284 7.29067 13.361L5.83279 18.6187L10.3826 15.6074C10.7569 15.3597 11.2431 15.3597 11.6174 15.6074L16.1672 18.6187L14.7093 13.361C14.5894 12.9285 14.7396 12.4661 15.0909 12.1867L19.3607 8.79004L13.9099 8.55186C13.4614 8.53226 13.0681 8.24651 12.9109 7.82607L11 2.71561Z"
                                    fill="" />
                            </svg>
                            <span>Добавить в избранное</span>
                        </button>
                    </div>
                </div>
                <div class="deliver">
                    <img src="/images/icons/galchka.svg" alt="">
                    <span>Доставка по Узбекистану</span>
                </div>
            </div>
        </div>
        <div class="product-description mb-40">
            <h2>Описание</h2>
            <p><%= product.ru_description %></p>
        </div>
        <div class="product-description">
            <h2>Характеристики</h2>
            <div class="row mb-30">
                <ul class="product-short-info__ul">
                    <% for (let i = 0; i < Math.floor(JSON.parse(product.options).length / 2); i++) { %>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                <%= JSON.parse(product.options)[i]['ru']['key'] %>
                            </div>
                            <div class="product-short-info__value">
                                <%= JSON.parse(product.options)[i]['ru']['value'] %>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <ul class="product-short-info__ul">
                    <% for (let i = Math.floor(JSON.parse(product.options).length / 2); i < JSON.parse(product.options).length; i++) { %>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                <%= JSON.parse(product.options)[i]['ru']['key'] %>
                            </div>
                            <div class="product-short-info__value">
                                <%= JSON.parse(product.options)[i]['ru']['value'] %>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section recommends-for-you">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">С этим товаром смотрят</h2>
        </header>
        <div class="recommends-for-you__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran">
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon">
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z" fill="#273142" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books">Книги</a>
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img class="product-card__rating-stars" src="/images/products/rating.svg"
                                        alt="rating stars">
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section reviews">
    <div class="container">
        <h2 class="section__heading mb-15">Отзывы</h2>
        <div class="row justify-content-between mb-50">
            <div class="reviews__left">
                <header class="reviews__left__header">
                    <h3 class="section__subheading">Фотографии покупателей</h3>
                    <div class="buyers-images">
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=1" alt="nimadir">
                        </div>
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=2" alt="nimadir">
                        </div>
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=3" alt="nimadir">
                        </div>
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=4" alt="nimadir">
                        </div>
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=4" alt="nimadir">
                        </div>
                        <div class="buyers-images__item">
                            <img src="https://i.pravatar.cc/100?img=4" alt="nimadir">
                        </div>
                    </div>
                </header>
                <main class="reviews__left__main">
                    <div class="comments">
                        <ul class="comments__ul">
                            <li class="comments__item">
                                <div class="comment__owner-image">
                                    <img src="https://i.pravatar.cc/50?img=4" alt="nimadir">
                                </div>
                                <div class="comment__info">
                                    <h4 class="comment__owner-name">Санжар Фозилжонович</h4>
                                    <div class="comment__rating-stars">
                                        <img src="/images/products/rating.svg" alt="rating star">
                                    </div>
                                    <div class="comment__images">
                                        <div class="comment__images__item">
                                            <img src="https://picsum.photos/70/70?rand=1" alt="">
                                        </div>
                                        <div class="comment__images__item">
                                            <img src="https://picsum.photos/70/70?rand=2" alt="">
                                        </div>
                                        <div class="comment__images__item">
                                            <img src="https://picsum.photos/70/70?rand=3" alt="">
                                        </div>
                                    </div>
                                    <p class="comment__text">Хорошая печать, качество бумаги. Перевод сделан красочным,
                                        комментарии подробные. В общем, сделанным выбором, остался доволен. Правда, с
                                        доставкой задержали, но ничего, в принципе, страшного.</p>
                                    <div class="comment__state">
                                        <time class="comment__time">Сегодня, 13:37</time>
                                        <div class="comment__like-dislike">
                                            <button class="comment__like mr-20">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M2.08332 7.75C0.935 7.75 0 8.685 0 9.83332V16.5C0 17.6483 0.935 18.5833 2.08332 18.5833H4.58332C5.0525 18.5833 5.48414 18.425 5.83332 18.1616V7.75H2.08332Z"
                                                            fill="" />
                                                        <path
                                                            d="M19.9998 11.8743C19.9998 11.3735 19.8015 10.9068 19.4573 10.5627C19.8465 10.1368 20.0448 9.56598 19.9906 8.97184C19.8931 7.91266 18.939 7.08266 17.8173 7.08266H12.6698C12.9248 6.30848 13.3331 4.88934 13.3331 3.74934C13.3331 1.94184 11.7973 0.416016 10.8331 0.416016C9.96732 0.416016 9.34896 0.903516 9.32232 0.923516C9.224 1.0027 9.1665 1.1227 9.1665 1.24934V4.07516L6.7665 9.27434L6.6665 9.32516V18.2568C7.34482 18.5768 8.20314 18.7493 8.74982 18.7493H16.399C17.3065 18.7493 18.1007 18.1377 18.2873 17.2935C18.3831 16.8593 18.3273 16.4218 18.1365 16.0418C18.7523 15.7318 19.1665 15.0977 19.1665 14.3743C19.1665 14.0793 19.099 13.7968 18.9707 13.541C19.5865 13.231 19.9998 12.5968 19.9998 11.8743Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>15</span>
                                            </button>
                                            <button class="comment__dislike">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M17.9167 12.25C19.065 12.25 20 11.315 20 10.1667V3.5C20 2.35168 19.065 1.41668 17.9167 1.41668H15.4167C14.9475 1.41668 14.5159 1.575 14.1667 1.83836V12.25H17.9167Z"
                                                            fill="" />
                                                        <path
                                                            d="M0.000175476 8.12566C0.000175476 8.62648 0.198496 9.09316 0.542675 9.43734C0.153496 9.86316 -0.0448256 10.434 0.00935459 11.0282C0.106854 12.0873 1.06104 12.9173 2.18268 12.9173H7.33018C7.07518 13.6915 6.66686 15.1107 6.66686 16.2507C6.66686 18.0582 8.20268 19.584 9.16686 19.584C10.0327 19.584 10.651 19.0965 10.6777 19.0765C10.776 18.9973 10.8335 18.8773 10.8335 18.7507V15.9248L13.2335 10.7257L13.3335 10.6748V1.74316C12.6552 1.42316 11.7969 1.25066 11.2502 1.25066H3.601C2.6935 1.25066 1.89932 1.86234 1.71268 2.70648C1.61686 3.14067 1.67268 3.57817 1.86349 3.95816C1.24767 4.26816 0.833496 4.90234 0.833496 5.62566C0.833496 5.92066 0.900996 6.20316 1.02932 6.45898C0.413496 6.76898 0.000175476 7.40316 0.000175476 8.12566Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white"
                                                                transform="translate(20 20) rotate(180)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>23</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comments__item">
                                <div class="comment__owner-image">
                                    <img src="https://i.pravatar.cc/50?img=6" alt="nimadir">
                                </div>
                                <div class="comment__info">
                                    <h4 class="comment__owner-name">Абдукарим</h4>
                                    <div class="comment__rating-stars">
                                        <img src="/images/products/rating.svg" alt="rating star">
                                    </div>
                                    <div class="comment__images">
                                        <div class="comment__images__item">
                                            <img src="https://picsum.photos/70/70?rand=1" alt="">
                                        </div>
                                    </div>
                                    <p class="comment__text">Отличный продукт и ранняя поставка рекомендуем.</p>
                                    <div class="comment__state">
                                        <time class="comment__time">Сегодня, 13:37</time>
                                        <div class="comment__like-dislike">
                                            <button class="comment__like mr-20">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M2.08332 7.75C0.935 7.75 0 8.685 0 9.83332V16.5C0 17.6483 0.935 18.5833 2.08332 18.5833H4.58332C5.0525 18.5833 5.48414 18.425 5.83332 18.1616V7.75H2.08332Z"
                                                            fill="" />
                                                        <path
                                                            d="M19.9998 11.8743C19.9998 11.3735 19.8015 10.9068 19.4573 10.5627C19.8465 10.1368 20.0448 9.56598 19.9906 8.97184C19.8931 7.91266 18.939 7.08266 17.8173 7.08266H12.6698C12.9248 6.30848 13.3331 4.88934 13.3331 3.74934C13.3331 1.94184 11.7973 0.416016 10.8331 0.416016C9.96732 0.416016 9.34896 0.903516 9.32232 0.923516C9.224 1.0027 9.1665 1.1227 9.1665 1.24934V4.07516L6.7665 9.27434L6.6665 9.32516V18.2568C7.34482 18.5768 8.20314 18.7493 8.74982 18.7493H16.399C17.3065 18.7493 18.1007 18.1377 18.2873 17.2935C18.3831 16.8593 18.3273 16.4218 18.1365 16.0418C18.7523 15.7318 19.1665 15.0977 19.1665 14.3743C19.1665 14.0793 19.099 13.7968 18.9707 13.541C19.5865 13.231 19.9998 12.5968 19.9998 11.8743Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>15</span>
                                            </button>
                                            <button class="comment__dislike">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M17.9167 12.25C19.065 12.25 20 11.315 20 10.1667V3.5C20 2.35168 19.065 1.41668 17.9167 1.41668H15.4167C14.9475 1.41668 14.5159 1.575 14.1667 1.83836V12.25H17.9167Z"
                                                            fill="" />
                                                        <path
                                                            d="M0.000175476 8.12566C0.000175476 8.62648 0.198496 9.09316 0.542675 9.43734C0.153496 9.86316 -0.0448256 10.434 0.00935459 11.0282C0.106854 12.0873 1.06104 12.9173 2.18268 12.9173H7.33018C7.07518 13.6915 6.66686 15.1107 6.66686 16.2507C6.66686 18.0582 8.20268 19.584 9.16686 19.584C10.0327 19.584 10.651 19.0965 10.6777 19.0765C10.776 18.9973 10.8335 18.8773 10.8335 18.7507V15.9248L13.2335 10.7257L13.3335 10.6748V1.74316C12.6552 1.42316 11.7969 1.25066 11.2502 1.25066H3.601C2.6935 1.25066 1.89932 1.86234 1.71268 2.70648C1.61686 3.14067 1.67268 3.57817 1.86349 3.95816C1.24767 4.26816 0.833496 4.90234 0.833496 5.62566C0.833496 5.92066 0.900996 6.20316 1.02932 6.45898C0.413496 6.76898 0.000175476 7.40316 0.000175476 8.12566Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white"
                                                                transform="translate(20 20) rotate(180)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>20</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="comments__item">
                                <div class="comment__owner-image">
                                    <img src="https://i.pravatar.cc/50?img=8" alt="nimadir">
                                </div>
                                <div class="comment__info">
                                    <h4 class="comment__owner-name">Фаррух</h4>
                                    <div class="comment__rating-stars">
                                        <img src="/images/products/rating.svg" alt="rating star">
                                    </div>
                                    <p class="comment__text">Книга легко читается, полезна для всех областей жизни
                                        человека. Становится настольной, особенно в минуты, когда «руки опускаются»
                                        перечитываешь некоторые моменты и вновь находишь в себе силы и желание работать,
                                        жить, любить,общаться с ребёнком, поддерживать родителей. </p>
                                    <div class="comment__state">
                                        <time class="comment__time">Сегодня, 13:37</time>
                                        <div class="comment__like-dislike">
                                            <button class="comment__like mr-20">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M2.08332 7.75C0.935 7.75 0 8.685 0 9.83332V16.5C0 17.6483 0.935 18.5833 2.08332 18.5833H4.58332C5.0525 18.5833 5.48414 18.425 5.83332 18.1616V7.75H2.08332Z"
                                                            fill="" />
                                                        <path
                                                            d="M19.9998 11.8743C19.9998 11.3735 19.8015 10.9068 19.4573 10.5627C19.8465 10.1368 20.0448 9.56598 19.9906 8.97184C19.8931 7.91266 18.939 7.08266 17.8173 7.08266H12.6698C12.9248 6.30848 13.3331 4.88934 13.3331 3.74934C13.3331 1.94184 11.7973 0.416016 10.8331 0.416016C9.96732 0.416016 9.34896 0.903516 9.32232 0.923516C9.224 1.0027 9.1665 1.1227 9.1665 1.24934V4.07516L6.7665 9.27434L6.6665 9.32516V18.2568C7.34482 18.5768 8.20314 18.7493 8.74982 18.7493H16.399C17.3065 18.7493 18.1007 18.1377 18.2873 17.2935C18.3831 16.8593 18.3273 16.4218 18.1365 16.0418C18.7523 15.7318 19.1665 15.0977 19.1665 14.3743C19.1665 14.0793 19.099 13.7968 18.9707 13.541C19.5865 13.231 19.9998 12.5968 19.9998 11.8743Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>15</span>
                                            </button>
                                            <button class="comment__dislike">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path
                                                            d="M17.9167 12.25C19.065 12.25 20 11.315 20 10.1667V3.5C20 2.35168 19.065 1.41668 17.9167 1.41668H15.4167C14.9475 1.41668 14.5159 1.575 14.1667 1.83836V12.25H17.9167Z"
                                                            fill="" />
                                                        <path
                                                            d="M0.000175476 8.12566C0.000175476 8.62648 0.198496 9.09316 0.542675 9.43734C0.153496 9.86316 -0.0448256 10.434 0.00935459 11.0282C0.106854 12.0873 1.06104 12.9173 2.18268 12.9173H7.33018C7.07518 13.6915 6.66686 15.1107 6.66686 16.2507C6.66686 18.0582 8.20268 19.584 9.16686 19.584C10.0327 19.584 10.651 19.0965 10.6777 19.0765C10.776 18.9973 10.8335 18.8773 10.8335 18.7507V15.9248L13.2335 10.7257L13.3335 10.6748V1.74316C12.6552 1.42316 11.7969 1.25066 11.2502 1.25066H3.601C2.6935 1.25066 1.89932 1.86234 1.71268 2.70648C1.61686 3.14067 1.67268 3.57817 1.86349 3.95816C1.24767 4.26816 0.833496 4.90234 0.833496 5.62566C0.833496 5.92066 0.900996 6.20316 1.02932 6.45898C0.413496 6.76898 0.000175476 7.40316 0.000175476 8.12566Z"
                                                            fill="" />
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="20" height="20" fill="white"
                                                                transform="translate(20 20) rotate(180)" />
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                <span>23</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </main>
            </div>
            <div class="reviews__right">
                <button class="button-blue mb-20">Оставить отзыв</button>
                <div class="reviews__filter">
                    <ul class="filter-aside__ul">
                        <li class="filter-aside__li">
                            <label class="filter-aside__check-label">
                                <input class="filter-aside__check-input" type="checkbox">
                                <span class="filter-aside__check-rectangle"> </span>
                                <span class="filter-aside__check-text">C фотографиями</span>
                            </label>
                        </li>
                    </ul>
                    <h3>Отзывы с оценкой</h3>
                    <ul class="filter-aside__ul">
                        <li class="filter-aside__li">
                            <label class="filter-aside__check-label">
                                <input class="filter-aside__check-input" type="checkbox">
                                <span class="filter-aside__check-rectangle"> </span>
                                <img class="reviews__filter__rating-star" src="/images/single-product/four.svg" alt="">
                                <span class="filter-aside__check-text">13 отзывов</span>
                            </label>
                        </li>
                        <li class="filter-aside__li">
                            <label class="filter-aside__check-label">
                                <input class="filter-aside__check-input" type="checkbox">
                                <span class="filter-aside__check-rectangle"> </span>
                                <img class="reviews__filter__rating-star" src="/images/single-product/three.svg" alt="">
                                <span class="filter-aside__check-text">8 отзывов</span>
                            </label>
                        </li>
                        <li class="filter-aside__li">
                            <label class="filter-aside__check-label">
                                <input class="filter-aside__check-input" type="checkbox">
                                <span class="filter-aside__check-rectangle"> </span>
                                <img class="reviews__filter__rating-star" src="/images/single-product/two.svg" alt="">
                                <span class="filter-aside__check-text">5 отзывов</span>
                            </label>
                        </li>
                        <li class="filter-aside__li">
                            <label class="filter-aside__check-label">
                                <input class="filter-aside__check-input" type="checkbox">
                                <span class="filter-aside__check-rectangle"> </span>
                                <img class="reviews__filter__rating-star" src="/images/single-product/one.svg" alt="">
                                <span class="filter-aside__check-text">3 отзывов</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="ad-column">
                    <a href="/">
                        <img src="/images/products/img1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="show-more-views">
            <button>Показать больше отзывов...
            </button>
        </div>
    </div>
</section>

<!--<%- include('partials/feedback-modal') %>-->
<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer.ejs') %>