<%
var product
const capitalize = text => {
    return text[0].toUpperCase() +
            text.substring(1)
}

let category, secondaryCategory, tertiaryCategory
categories.forEach(c => {
    if (c.category_id === product.category_id) {
        category = c
    }
})
if (product.sub_category_id) {
    category.sub_categories.forEach(c => {
        if (c.sub_category_id === product.sub_category_id) {
            secondaryCategory = c
        }
    })
}
if (product.sub_sub_category_id) {
    secondaryCategory.sub_sub_categories.forEach(c => {
        if (c.sub_sub_category_id === product.sub_sub_category_id) {
            tertiaryCategory = c
        }
    })
}
%>
<%- include('partials/header.ejs') %>

<div class="container pt-20">
    <nav class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link"
                   href="/category/<%= category.slug %>"><%= capitalize(category.ru_name) %></a>
            </li>
            <% if (secondaryCategory) { %>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link"
                       href="/category/<%= category.slug %>/<%= secondaryCategory.sub_category_slug %>"><%= capitalize(secondaryCategory.sub_category_name_ru) %></a>
                </li>
            <% } %>
            <% if (tertiaryCategory) { %>
                <li class="breadcrumb-item">
                    <a class="breadcrumb-link"
                       href="/category/<%= category.slug %>/<%= secondaryCategory.sub_category_slug %>/<%= tertiaryCategory.sub_sub_category_slug %>"><%= capitalize(tertiaryCategory.sub_sub_category_name_ru) %></a>
                </li>
            <% } %>
            <li class="breadcrumb-item">
                <%= product.ru_name %>
            </li>
        </ol>
    </nav>
</div>

<section class="single-product">
    <div class="container">
        <div class="row mb-70">
            <div class="product-gallery">
                <ul id="lightSliderVertical">
                    <% product.thumb.forEach(thumb => { %>
                        <li data-thumb="/images/products/<%= thumb %>">
                            <a href="/images/products/<%= thumb %>" data-fancybox="gallery">
                                <img src="/images/products/<%= thumb %>"/>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="product-info">
                <h2 class="product-name"><%= product.ru_name %></h2>
                <div class="product-rating">
                    <img src="/images/rating-stars/<%= product.star %>.svg" alt="rating stars"/>
                    <a href="#comment">Отзывы (<%= comments.length %>)</a>
                </div>
                <div class="product-short-info">
                    <% if(JSON.parse(product.options).length > 0 && Object.keys(JSON.parse(product.options)[0]).length > 0) { %>
                        <h3>Коротко о товарe</h3>
                        <div class="product-short-info__part">
                            <ul class="product-short-info__ul">
                                <% JSON.parse(product.options).slice(0, 10).forEach((option,
                                                                                     index) => { %>
                                    <li class="product-short-info__li">
                                        <div class="product-short-info__definition">
                                            <%= option['ru']['key'] %>
                                        </div>
                                        <div class="product-short-info__value">
                                            <%= option['ru']['value'] %>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                    <div class="product-count">
                        <% if(product.cart > 0) { %>
                            <h4>Количество:</h4>
                            <div class="product-count__change">
                                <button id="<%= product.product_id %>" class="single_dec_cart">
                                    <img src="/images/icons/minus.svg" alt=""/>
                                </button>
                                <span><%= product.cart %></span>
                                <button id="<%= product.product_id %>" class="single_inc_cart">
                                    <img src="/images/icons/plus.svg" alt=""/>
                                </button>
                            </div>
                        <% } %>
                    </div>
                    <div class="product-price">
                        <span class="price"><%= product.price * (100 - product.sale) / 100 %> сум</span>
                        <% if (product.sale > 0) { %>
                            <del><%= product.price %> сум</del>
                        <% } %>
                    </div>
                </div>
                <div class="product-actions">
                    <div>
                        <button class="button-blue-sm mr-20">Купить</button>
                        <% if(product.cart === 0) { %>
                            <button id="<%= product.product_id %>" class="button-outline-sm single_add_to_cart">В
                                корзину
                            </button>
                        <% } %>
                    </div>
                    <div>
                        <button class="add-to-favourite">
                            <svg
                                    width="22"
                                    height="22"
                                    viewBox="0 0 22 22"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.95221 0.72685C10.3146 -0.242283 11.6854 -0.242284 12.0478 0.72685L14.353 6.89165L20.9284 7.17897C21.9621 7.22414 22.3857 8.52786 21.5759 9.17198L16.4252 13.2694L18.1839 19.6117C18.4603 20.6088 17.3513 21.4145 16.4885 20.8435L11 17.211L5.5115 20.8435C4.64868 21.4145 3.53967 20.6088 3.81614 19.6117L5.5748 13.2694L0.424063 9.17198C-0.385656 8.52786 0.0379494 7.22414 1.07163 7.17897L7.64704 6.89165L9.95221 0.72685ZM11 2.71561L9.08907 7.82607C8.93186 8.24651 8.53856 8.53226 8.09012 8.55186L2.63927 8.79004L6.9091 12.1867C7.26038 12.4661 7.41061 12.9284 7.29067 13.361L5.83279 18.6187L10.3826 15.6074C10.7569 15.3597 11.2431 15.3597 11.6174 15.6074L16.1672 18.6187L14.7093 13.361C14.5894 12.9285 14.7396 12.4661 15.0909 12.1867L19.3607 8.79004L13.9099 8.55186C13.4614 8.53226 13.0681 8.24651 12.9109 7.82607L11 2.71561Z"
                                        fill=""
                                />
                            </svg>
                            <span>Добавить в избранное</span>
                        </button>
                    </div>
                </div>
                <div class="deliver">
                    <img src="/images/icons/galchka.svg" alt=""/>
                    <span>Доставка по Узбекистану</span>
                </div>
            </div>
        </div>
        <div class="product-description mb-40">
            <h2>Описание</h2>
            <p><%= product.ru_description %></p>
        </div>
        <% if(JSON.parse(product.options).length > 0 && Object.keys(JSON.parse(product.options)[0]).length > 0) { %>
            <div class="product-description">
                <h2>Характеристики</h2>
                <div class="row mb-30">
                    <ul class="product-short-info__ul">
                        <% for (let i = 0; i < Math.floor(JSON.parse(product.options).length /
                                2); i ++) { %>
                            <li class="product-short-info__li">
                                <div class="product-short-info__definition">
                                    <%= JSON.parse(product.options)[i]['ru']['key'] %>
                                </div>
                                <div class="product-short-info__value">
                                    <%= JSON.parse(product.options)[i]['ru']['value'] %>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                    <ul class="product-short-info__ul">
                        <% for (let i = Math.floor(JSON.parse(product.options).length / 2); i
                        < JSON.parse(product.options).length; i ++) { %>
                            <li class="product-short-info__li">
                                <div class="product-short-info__definition">
                                    <%= JSON.parse(product.options)[i]['ru']['key'] %>
                                </div>
                                <div class="product-short-info__value">
                                    <%= JSON.parse(product.options)[i]['ru']['value'] %>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        <% } %>
    </div>
</section>

<section class="section recommends-for-you">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">С этим товаром смотрят</h2>
        </header>
        <div class="recommends-for-you__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="product-card">
                            <div>
                                <div class="product-card__header">
                                    <img src="/images/products/img2.jpg" alt="qoran"/>
                                    <span class="product-card__discount">-54%</span>
                                    <ul class="product-card__action">
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/eye.svg" alt="eye icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/star.svg" alt="star icon"/>
                                            </button>
                                        </li>
                                        <li class="product-card__action__item">
                                            <button>
                                                <img src="/images/icons/trash.svg" alt="trash icon"/>
                                            </button>
                                        </li>
                                    </ul>
                                    <button class="product-card__favourite">
                                        <svg
                                                width="20"
                                                height="19"
                                                viewBox="0 0 20 19"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M9.04746 0.656581C9.3769 -0.21886 10.6231 -0.218861 10.9525 0.656581L13.0481
                                          6.22539L19.0258 6.48493C19.9655 6.52574 20.3506 7.70342 19.6145 8.28527L14.932 11.9865L16.5308
                                           17.7157C16.7821 18.6164 15.7739 19.3443 14.9895 18.8284L10 15.5471L5.01046 18.8284C4.22608
                                           19.3443 3.21788 18.6164 3.46922 17.7157L5.068 11.9865L0.385511 8.28527C-0.350596 7.70342 0.0344995
                                           6.52574 0.974211 6.48493L6.95186 6.22539L9.04746 0.656581ZM10 2.45308L8.26279 7.06948C8.11987
                                           7.44927 7.76233 7.7074 7.35465 7.7251L2.39934 7.94025L6.281 11.0085C6.60034 11.2609 6.73692
                                           11.6786 6.62788 12.0693L5.30253 16.8187L9.43874 14.0986C9.77902 13.8748 10.221 13.8748 10.5613
                                           14.0986L14.6975 16.8187L13.3721 12.0693C13.2631 11.6786 13.3997 11.2609 13.719 11.0085L17.6007
                                            7.94025L12.6453 7.7251C12.2377 7.7074 11.8801 7.44927 11.7372 7.06948L10 2.45308Z"
                                                    fill="#273142"
                                            />
                                        </svg>
                                    </button>
                                </div>
                                <div class="product-card__body">
                                    <a class="product-card__category" href="/categories/books"
                                    >Книги</a
                                    >
                                    <h3 class="product-card__title">Книги Коран</h3>
                                    <img
                                            class="product-card__rating-stars"
                                            src="/images/products/rating.svg"
                                            alt="rating stars"
                                    />
                                </div>
                            </div>
                            <div>
                                <div class="product-card__footer">
                                    <span class="product-card__new-price">120 000 сум</span>
                                    <del class="product-card__old-price">220 000 сум</del>
                                </div>
                                <button class="to-cart">В корзину</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section reviews" id="comment">
    <div class="container">
        <h2 class="section__heading mb-15">Отзывы</h2>
        <div class="row justify-content-between mb-50">
            <div class="reviews__left">
                <main class="reviews__left__main">
                    <div class="comments">
                        <ul class="comments__ul">
                            <% comments.forEach(comment => { %>
                                <li class="comments__item">
                                    <div class="comment__owner-image">
                                        <img src="/images/users/<%= comment['user.avatar']%>" alt="avatar"/>
                                    </div>
                                    <div class="comment__info">
                                        <h4 class="comment__owner-name"><%= comment['user.full_name']%></h4>
                                        <div class="comment__rating-stars">
                                            <img src="/images/rating-stars/<%= comment.star %>.svg" alt="rating star"/>
                                        </div>
                                        <p class="comment__text">
                                            <%= comment.comment_text %>
                                        </p>
                                        <div class="comment__state">
                                            <time class="comment__time"><%= comment.createdAt %></time>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </main>
            </div>
            <div class="reviews__right">
                <button class="button-blue mb-20" id="feedback-modal-opener">Оставить отзыв</button>
            </div>
        </div>
    </div>
</section>
<%- include("cabinet/toast") %>
<%- include('partials/feedback-modal') %>
<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>
<%- include('partials/footer.ejs') %>
