<%
var products
const capitalize = text => {
    return text[0].toUpperCase() + text.substring(1)
}
const titleNormalize = title => {
    if (title.length <= 50) {
        return title
    }
    return title.substring(0, 50) + '...'
}
%>
<%- include('partials/header') %>

<section class="category-intro">
    <div class="container">
        <header class="category-intro__header">
            <h2 class="section__heading"><%= sub_category.sub_category_name_ru[0].toUpperCase() + sub_category.sub_category_name_ru.substring(1) %></h2>
            <span class="category-intro__total-count"><%= products.length %> товаров</span>
        </header>
        <main class="category-intro__main">
            <nav class="category-intro__nav">
                <ul class="category-intro__ul">
                    <% sub_sub_categories.forEach((sub_cat, index) => { %>
                        <% if(index <= 5)  { %>
                            <li class="category-intro__li">
                                <a class="category-intro__link"
                                   href="/category/<%= category.slug %>/<%= sub_category.sub_category_slug %>/<%= sub_cat.sub_sub_category_slug %>"><%= sub_cat.sub_sub_category_name_ru %></a>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
                <button class="category-intro__nav-open">
                    <img src="/images/icons/menu.svg" alt="">
                    <span>Категории</span>
                </button>
            </nav>
            <div class="category-intro__ads">
                <div class="category-intro__big-ad">
                    <a href="<%= (banners?.big_banner_url) ? banners?.big_banner_url : '#' %>">
                        <img src="<%= (banners?.big_banner_image_2x) ? '/images/category_banners/' + category.category_id + '/' + banners?.big_banner_image_2x : 'https://via.placeholder.com/1440x350' %>"
                             alt="">
                    </a>
                </div>
                <div class="category-intro__small-ads">
                    <div class="category-intro__small-ad">
                        <a href="<%= (banners?.small_banner_1_url) ? banners?.small_banner_1_url : '#' %>">
                            <img src="<%= (banners?.small_banner_1_image) ? '/images/category_banners/' + category.category_id + '/' + banners?.small_banner_1_image : 'https://via.placeholder.com/460x170' %>"
                                 alt="">
                        </a>
                    </div>
                    <div class="category-intro__small-ad">
                        <a href="<%= (banners?.small_banner_2_url) ? banners?.small_banner_2_url : '#' %>">
                            <img src="<%= (banners?.small_banner_2_image) ? '/images/category_banners/' + category.category_id + '/' + banners?.small_banner_2_image : 'https://via.placeholder.com/460x170' %>"
                                 alt="">
                        </a>
                    </div>
                    <div class="category-intro__small-ad">
                        <a href="<%= (banners?.small_banner_3_url) ? banners?.small_banner_3_url : '#' %>">
                            <img src="<%= (banners?.small_banner_3_image) ? '/images/category_banners/' + category.category_id + '/' + banners?.small_banner_3_image : 'https://via.placeholder.com/460x170' %>"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

<section class="section recommends-for-you mb-70">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">Лучшие предложения!</h2>
        </header>

        <% if(goodOffers.length > 0) { %>
            <div class="recommends-for-you__slider splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <% goodOffers.forEach(product => { %>
                            <li class="splide__slide">
                                <div class="product-card">
                                    <div>
                                        <div class="product-card__header">
                                            <img src="/images/products/<%= product.thumb[0] %>"
                                                 alt="<%= product.ru_name %>">
                                            <% if (product.sale) { %>
                                                <span class="product-card__discount">-<%= product.sale %>%</span>
                                            <% } %>
                                            <ul class="product-card__action">
                                                <li class="product-card__action__item">
                                                    <button>
                                                        <img src="/images/icons/eye.svg" alt="eye icon">
                                                    </button>
                                                </li>
                                                <li class="product-card__action__item">
                                                    <% if (product.inWishList) { %>
                                                        <button class="in-wish-list"
                                                                data-wishlist-btn="<%= product.product_id %>">
                                                            <img src="/images/icons/star.svg" alt="star icon">
                                                        </button>
                                                    <% } else { %>
                                                        <button data-wishlist-btn="<%= product.product_id %>">
                                                            <img src="/images/icons/star.svg" alt="star icon">
                                                        </button>
                                                    <% } %>
                                                </li>
                                                <li class="product-card__action__item">
                                                    <button>
                                                        <img src="/images/icons/trash.svg" alt="trash icon">
                                                    </button>
                                                </li>
                                            </ul>
                                            <% if (product.inWishList) { %>
                                                <button class="product-card__favourite in-wish-list"
                                                        data-wishlist-btn="<%= product.product_id %>">
                                                    <img src="/images/icons/favourites-active.svg" alt="">
                                                </button>
                                            <% } else { %>
                                                <button class="product-card__favourite"
                                                        data-wishlist-btn="<%= product.product_id %>">
                                                    <img src="/images/icons/favourites-passive.svg" alt="">
                                                </button>
                                            <% } %>
                                        </div>
                                        <div class="product-card__body">
                                            <a class="product-card__category"
                                               href="/category/<%= product['category.ru_name'] %>"><%= capitalize(product['category.ru_name']) %></a>
                                            <h3 class="product-card__title">
                                                <a style="color: #273142" href="/product/<%= product.slug %>">
                                                    <%= titleNormalize(product.ru_name) %>
                                                </a>
                                            </h3>
                                            <img class="product-card__rating-stars"
                                                 src="/images/rating-stars/<%= product.stars %>.svg"
                                                 alt="rating stars">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="product-card__footer">
                                            <span class="product-card__new-price"><%= Math.round(product.price * (100 - product.sale) / 100) %> сум</span>
                                            <del class="product-card__old-price"><%= product.price %> сум</del>
                                        </div>
                                        <button class="to-cart <%= product.inCart ? 'd-none' : '' %>"
                                                data-add-cart="<%= product.product_id %>">
                                            В корзину
                                        </button>
                                        <div class="product-card__cart <%= product.inCart ? '' : 'd-none' %>">
                                            <button class="product-card__cart__btn product-card__cart__btn--increment"
                                                    data-increment-product="<%= product.product_id %>">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12 5V19" stroke="#8D909B" stroke-width="2"
                                                          stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                                          stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </button>
                                            <span><%= product.inCart %></span>
                                            <button class="product-card__cart__btn product-card__cart__btn--decrement"
                                                    data-decrement-product="<%= product.product_id %>">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                                          stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        <% } %>
    </div>
</section>

<section class="section popular-categories">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">Присмотритесь к категориям</h2>
        </header>
        <div class="popular-categories__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <% sub_sub_categories.forEach(el => { %>
                        <li class="splide__slide">
                            <div class="popular-categories__card">
                                <div>
                                    <img src="/images/sub_categories/<%= el.sub_sub_category_image %>"
                                         alt="<%= el.sub_sub_category_name_ru %>">
                                </div>
                                <h3><%= capitalize(el.sub_sub_category_name_ru) %></h3>
                                <a class=""
                                   href="/category/<%= category.slug %>/<%= sub_category.sub_category_slug %>/<%= el.sub_sub_category_slug%>"></a>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section products">
    <div class="container">
        <div class="row">
            <aside class="products__aside">
                <div class="ad-column">
                    <a href="/">
                        <img src="<%= (banners?.side_banner_left_image) ? '/images/category_banners/' + category.category_id + '/' + banners?.side_banner_left_image : 'https://via.placeholder.com/290x790' %>"
                             alt="">
                    </a>
                </div>
            </aside>
            <main class="products__main products--four">
                <% products.forEach(product => { %>
                    <div class="product-card">
                        <div>
                            <div class="product-card__header">
                                <img src="/images/products/<%= product.thumb[0] %>"
                                     alt="<%= product.ru_name %>">
                                <% if (product.sale) { %>
                                    <span class="product-card__discount">-<%= product.sale %>%</span>
                                <% } %>
                                <ul class="product-card__action">
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/eye.svg" alt="eye icon">
                                        </button>
                                    </li>
                                    <li class="product-card__action__item">
                                        <% if (product.inWishList) { %>
                                            <button class="in-wish-list" data-wishlist-btn="<%= product.product_id %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } else { %>
                                            <button data-wishlist-btn="<%= product.product_id %>">
                                                <img src="/images/icons/star.svg" alt="star icon">
                                            </button>
                                        <% } %>
                                    </li>
                                    <li class="product-card__action__item">
                                        <button>
                                            <img src="/images/icons/trash.svg" alt="trash icon">
                                        </button>
                                    </li>
                                </ul>
                                <% if (product.inWishList) { %>
                                    <button class="product-card__favourite in-wish-list"
                                            data-wishlist-btn="<%= product.product_id %>">
                                        <img src="/images/icons/favourites-active.svg" alt="">
                                    </button>
                                <% } else { %>
                                    <button class="product-card__favourite"
                                            data-wishlist-btn="<%= product.product_id %>">
                                        <img src="/images/icons/favourites-passive.svg" alt="">
                                    </button>
                                <% } %>
                            </div>
                            <div class="product-card__body">
                                <a class="product-card__category"
                                   href="/category/<%= product['category.ru_name'] %>"><%= capitalize(product['category.ru_name']) %></a>
                                <h3 class="product-card__title">
                                    <a style="color: #273142" href="/product/<%= product.slug %>">
                                        <%= titleNormalize(product.ru_name) %>
                                    </a>
                                </h3>
                                <img class="product-card__rating-stars"
                                     src="/images/rating-stars/<%= product.stars %>.svg"
                                     alt="rating stars">
                            </div>
                        </div>
                        <div>
                            <div class="product-card__footer">
                                <span class="product-card__new-price"><%= Math.round(product.price * (100 - product.sale) / 100) %> сум</span>
                                <del class="product-card__old-price"><%= product.price %> сум</del>
                            </div>
                            <button class="to-cart <%= product.inCart ? 'd-none' : '' %>"
                                    data-add-cart="<%= product.product_id %>">
                                В корзину
                            </button>
                            <div class="product-card__cart <%= product.inCart ? '' : 'd-none' %>">
                                <button class="product-card__cart__btn product-card__cart__btn--increment"
                                        data-increment-product="<%= product.product_id %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 5V19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <span><%= product.inCart %></span>
                                <button class="product-card__cart__btn product-card__cart__btn--decrement"
                                        data-decrement-product="<%= product.product_id %>">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="#8D909B" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </main>
        </div>
    </div>
</section>

<%- include("recommendation") %>

<section class="additional">
    <div class="container">
        <div class="additional__card">
            <h3>Доставка по всему<br>Узбекистану</h3>
            <a href="/">Условия доставки</a>
            <img src="/images/additional/1.png" alt="">
        </div>
        <div class="additional__card">
            <h3>Установите мобильное<br>приложение</h3>
            <a href="/">Установить</a>
            <img src="/images/additional/2.png" alt="">
        </div>
        <div class="additional__card">
            <h3>Оплата наличными<br>или картой</h3>
            <a href="/">Условия оплаты</a>
            <img src="/images/additional/3.png" alt="">
        </div>
    </div>
</section>

<%- include('cabinet/toast') %>
<%- include('partials/brands') %>
<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>
<%- include('partials/footer') %>