<% var cart %>
<%- include('partials/header') %>
<%
var categories
const capitalize = text => {
    return text[0].toUpperCase() + text.substring(1)
}
const titleNormalize = title => {
    if (title.length <= 50) {
        return title
    }
    return title.substring(0, 50) + '...'
}
%>
<div class="container pt-20">
    <nav class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                Избранное
            </li>
        </ol>
    </nav>
</div>

<section class="cart">
    <div class="container">
        <% if (wishlist.length === 0) { %>
            <div class="cart__empty">
                <h2 class="section__heading">Нет выбранных продуктов</h2>
                <p>Воспользуйтесь поиском, чтобы найти всё что нужно.</p>
                <a href="/">Вернуться на главную</a>
            </div>
        <% } else { %>
            <h2 class="section__heading">Избранное</h2>
            <div class="cart__products">
                    <div class="cart__products__list">
                        <main class="cart__products__main">
                            <ul class="cart__products__ul">
                                <% wishlist.forEach(w => { %>
                                    <li class="cart__products__li">
                                        <div class="cart__products__img">
                                            <img src="/images/products/<%= w['product.thumb'][0] %>" alt="product title">
                                        </div>
                                        <div class="cart__products__info">
                                            <div>
                                                <div class="cart__products__info__top">
                                                    <h3><a style="color: #273142" href="/product/<%= w['product.slug']%>"><%= w['product.ru_name'] %></a></h3>
                                                    <button class="cart__products__info__delete" data-wishlist-remove="<%= w['product.product_id'] %>">
                                                        <img src="/images/icons/delete.svg" alt="">
                                                    </button>
                                                </div>
                                                <div class="cart__products__info__middle">
                                                    <% if(w["product.in_stock"]) { %>
                                                        <span class="in-stock">Есть на складе</span>
                                                    <% } else { %>
                                                            <span class="not-in-stock">Нет в наличии</span>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="cart__products__info__bottom">
                                                <span class="price"><%= w['product.price'] * (100 - w['product.sale']) / 100 %> UZS</span>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </main>
                    </div>
                </div>
        <% } %>
    </div>
</section>

<section class="section popular-categories mb-50">
    <div class="container">
        <header class="section__header">
            <h2 class="section__heading">Присмотритесь к категориям</h2>
        </header>
        <div class="popular-categories__slider splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <% categories.forEach(el => { %>
                        <li class="splide__slide">
                            <div class="popular-categories__card">
                                <div>
                                    <img src="/images/categories/<%= el.thumb %>"
                                         alt="<%= el.ru_name %>">
                                </div>
                                <h3><%= capitalize(el.ru_name) %></h3>

                                <a class=""
                                   href="/category/<%= el.slug %>"></a>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</section>


<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>