<% var user %>

<%- include('../partials/header') %>

<div class="container pt-20">
    <nav class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/cabinet">
                    Личный кабинет
                </a>
            </li>
            <li class="breadcrumb-item">
                Сохраненные карты
            </li>
        </ol>
    </nav>
</div>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <%- include("sidebar")%>
            <main class="main--save-card">
                <h2 class="section__heading">
                    Сохраненные карты
                </h2>
                <ul class="my-cards__list">
                    <li class="my-card__item row">
                        <img src="/images/cabinet/visa2.svg" alt="visa">
                        <span>Visa **4321</span>
                        <button class="my-card__delete" type="button">
                        </button>
                    </li>
                </ul>
                <button class="add-card__btn my-card__item row" type="button">
                    <img src="/images/cabinet/addcard.svg" alt="add card icon">
                    <span>Добавить карту</span>
                </button>
            </main>
        </div>
    </div>
</section>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <%- include("sidebar")%>
            <main class="main--save-card">
                <h2 class="section__heading">
                    Сохраненные карты
                </h2>
                <div class="search__result-box">
                    <div class="not-found__box">
                        <img src="/images/icons/search2.svg" alt="search icon">
                        <span>У вас нет сохраненных карт</span>
                    </div>
                    <button class="button-blue" type="button">
                        Добавить карту
                    </button>
                </div>
            </main>
        </div>
    </div>
</section>

<div class="modal modal--add-card d-none">
    <div class="modal-content">
        <h2>Привязка банковской карты</h2>
        <form class="modal-form modal-form--add-card">
            <div class="payment-systems">
                <ul class="payment-systems__list">
                    <li class="payment-system__item">
                        <img src="/images/cabinet/visa.svg" alt="">
                    </li>
                    <li class="payment-system__item">
                        <img src="/images/cabinet/mastercard.svg" alt="">
                    </li>
                    <li class="payment-system__item">
                        <img src="/images/cabinet/uzcard.svg" alt="">
                    </li>
                    <li class="payment-system__item">
                        <img src="/images/cabinet/humo.svg" alt="">
                    </li>
                </ul>
            </div>
            <div class="bank-card">
                <div class="bank-card__left">
                    <label class="modal-form__label mb-20">
                        <span class="modal-form__label-text">Номер карты:</span>
                        <input class="bank-card__card-number input" type="text" maxlength="19" placeholder="0000 0000 0000 0000">
                    </label>
                    <label class="modal-form__label">
                        <span class="modal-form__label-text">Действует до:</span>
                        <div class="bank-card__validity-period">
                            <input class="bank-card__validity-input input" type="text" minlength="2" maxlength="2" placeholder="мм">
                            <input class="bank-card__validity-input input" type="text" minlength="2" maxlength="2" placeholder="гг">
                        </div>
                    </label>
                </div>
                <div class="bank-card__right">
                    <div class="bank-card__decoration"></div>
                    <label class="modal-form__label mb-20">
                        <span class="modal-form__label-text">CVV/CVC</span>
                        <input class="bank-card__cvv-input input" type="text" minlength="3" maxlength="3" placeholder="000">
                    </label>
                </div>
            </div>
            <div class="modal-form__actions">
                <button class="modal-form__action-btn modal-form__action-btn--cancel">Отмена</button>
                <button class="modal-form__action-btn modal-form__action-btn--bind yellow-on-hover" disabled>Привязать</button>
            </div>
        </form>
    </div>
</div>

<%- include('toast') %>
<%- include('modal-change-avatar') %>
<%- include('../partials/catalog-modal') %>
<%- include('../partials/categories-modal') %>

<%- include('../partials/footer') %>